<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>KerwinWeb</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <nav class="navbar justify-content-between">
      <a class="navbar-brand flag" href="/">To-do List</a>
      {{#if isAuthenticated}}
      <span>Welcome back, {{user.name}}</span>
      <div class="">
        <a href="/todos/new" class="btn btn-info">Create</a>
        <a href="/users/logout" class="btn btn-info">Logout</a>
      </div>
      {{else}}
      <a href="/users/login" class="btn btn-info">Login</a>
      {{/if}}
    </nav>
  </header>


  <main>
    <div class="container" style="min-height: 100vh;">
      {{{body}}}
    </div>
  </main>

  <footer class="footer py-3">
    <div class="container pt-5">
      <div class="row">
        <div class="col text-left">
          <h6>Content</h6>
          <ul>
            <li>New resources</li>
            <li>The most popular content</li>
            <li>Blog</li>
          </ul>
        </div>
        <div class="col text-left">
          <h6>Information</h6>
          <ul>
            <li><span>Plans & pricing</span></li>
            <li>Jobs</li>
            <li>Become a contributor</li>
          </ul>
        </div>
        <div class="col text-left">
          <h6>Help</h6>
          <ul>
            <li>Support</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="col text-left socialicon">
          <h6>Social media</h6>
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-github-square"></i></a>
          <a href="#"><i class="fab fa-pinterest-square"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="mt-4 copyright">
        <img src="/image/logo-via-logohub.png" style="width: 180px;" alt=""></a>
        <span>Copyright &copy; 2019 Kerwin Jhong | All Rights Reserved.</span>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>