<div class="input-group-prepend">
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
  </div>
</div>

<ul class="list-group mx-auto todos">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto my-auto mr-auto">
        <input class="mr-2" style="vertical-align: middle;" type="checkbox" name="done" {{#if this.done }}
          checked{{/if}} disabled />
        <h4 style="display: inline;vertical-align: middle;">{{{this.name}}}</h4>
      </div>
      <div class="col-auto">
        <a href="/todos/{{{this.id}}}" class="btn btn-success">detail</a>
        <a href="/todos/{{{this.id}}}/edit" class="btn btn-success">edit</a>
        <form action="/todos/{{{this.id}}}/delete" style="display:inline">
          <button type="submit" class="btn btn-danger">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}