header nav {
    background: linear-gradient(80deg, rgba(80, 230, 220, 1)30%, rgba(55, 190, 210, 0.8)70%);
    background: -moz-linear-gradient(80deg, rgba(80, 230, 220, 1)30%, rgba(55, 190, 210, 0.8)70%);
    background: -webkit-linear-gradient(80deg, rgba(80, 230, 220, 1)30%, rgba(55, 190, 210, 0.8)70%);
    background: -o-linear-gradient(80deg, rgba(80, 230, 220, 1)30%, rgba(55, 190, 210, 0.8)70%);
}

.flag {
    color: black;
    background-color: yellow;
    border-radius: 50% 10% 50% 10%/50% 0% 50% 0%;
    -webkit-border-radius: 50% 10% 50% 10%/50% 0% 50% 0%;
    -moz-border-radius: 50% 10% 50% 10%/50% 0% 50% 0%;
}

main {
    background: #dddddd center center url('https://pbs.twimg.com/media/DiChqYAVMAADTxp.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.todos {
    max-width: 800px;
    max-height: 80vh;
    margin: 10vh 0;
    overflow: scroll;
}

.textBox {
    max-width: 800px;
    padding: 10vh 0;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2D63A9;
    color: #000000;
    text-align: center;
}

footer ul {
    padding-inline-start: 0px;
}

footer li {
    color: #000000;
    list-style-type: none;
}

footer h6 {
    text-transform: uppercase;
}

.socialicon {
    display: inline-block;
}

footer .socialicon a {
    margin-right: 5px;
}

footer .fa-facebook-square {
    color: #0647d4;
    font-size: 40px;
}

footer .fa-github-square {
    color: black;
    font-size: 40px;
}

footer .fa-pinterest-square {
    color: #cb2027;
    font-size: 40px;
}

footer .fa-instagram {
    color: #c32da2;
    font-size: 40px;
}

footer .copyright {
    padding-top: 40px;
    border-top: 1px solid #6d7b77;
    padding-bottom: 30px;
}